/*----------------------*\
Style
\*----------------------*/

/*----------------------*\
copyright 2024 - A.D.H.I
\*----------------------*/

/*----------------------*\
Proriedades customizadas
\*----------------------*/

:root {
  /*Color*/
  --rich-black-fogra-39_50: hsla(0, 0%, 5%, 0.5);
  --rich-black-fogra-39: hsl(0, 0%, 5%);
  --indian-yellow_10: hsla(36, 61%, 58%, 0.1);
  --indian-yellow: hsl(36, 61%, 58%);
  --harvest-gold: hsl(36, 66%, 53%);
  --eerie-black-1: hsl(0, 0%, 14%);
  --eerie-black-2: hsl(0, 0%, 12%);
  --eerie-black-2_85: hsla(0, 0%, 12%, 0.85);
  --eerie-black-3: hsl(0, 0%, 8%);
  --sonic-silver: hsl(0, 0%, 44%);
  --davys-gray: hsl(210, 9%, 31%);
  --light-gray: hsl(0, 0%, 80%);
  --platinum: hsl(0, 0%, 91%);
  --black_30: hsla(0, 0%, 0%, 0.3);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --white_30: hsla(0, 0%, 100%, 0.3);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white: hsl(0, 0%, 100%);
  --jet: hsl(0, 0%, 21%);

  /*Tipografia*/
  --ff-oswald: "Oswald", sans-serif;
  --ff-rubik: "Rubik", sans-serif;

  --fs-40: 4rem;/*4x16*/
  --fs-30: 3rem;
  --fs-24: 2.4rem;
  --fs-18: 1.8rem;
  --fs-14: 1.4rem;
  --fs-12: 1.3rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /*Espaço*/
  --section-padding: 80px;

  /*Borda*/
  --radius-5: 5px;
  --radius-8: 8px; 

  /*Sombra*/
  --shadow-1: 10px 0 60px hsla(0, 0%, 15%, 0.07);
  --shadow-2: 10px 0 60px hsla(0, 0%, 15%, 0.1);

  /*Transição*/
  --transition-1: 0.25s ease;
  --transition-2: 0.50s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*----------------------*\
Reset
\*----------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
data,
input,
button,
textarea,
ion-icon {
  display: block;
}

a {
  color: inherit;
}

img {
  height: auto;
}

input,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

html {
  font-family: var(--ff-rubik);
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-size: 1.6rem;
  line-height: 2;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 4%, 91%);
}

::-webkit-scrollbar-thumb {
  background-color: var(--indian-yellow);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--harvest-gold);
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--ff-oswald);
  box-sizing: border-box;
}

.container{
  width: 100%;
  margin: 0 ;
  padding: 0 auto;
  align-items: inherit;
}

/*MENU*/
header{
  background: var(--harvest-gold);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  margin-left: 10%;
}
.logo:hover{ 
  filter: none;
}
.logo img{
  width: 270px;
}


.menu{
  margin-right: 10%;
}


.menu li{
  display: inline-block;
  padding: 0 10px;
}

.clear{
  clear: both;
}
/*pesquisa*/
.container-busca{
  width: 500px;
  position: relative;
  height: 50px;
}
.container-busca input {
  height: 40px;
  border: 1px solid #ececec;
  border-radius: 25px;
  outline: none;
  padding-left: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  cursor: pointer;
  color: #000000;
}

.container-busca button { 
  height: 41px;
  width: 50px;
  background:  url('../img/lupa.png') center no-repeat;
  border: none;
  position: absolute;
  z-index: 2;
  cursor: pointer;

}

.container-busca ::placeholder{
  color: #ffffff;
  font-family: var(--ff-oswald);
  font-weight: 100;
}

.user{
  filter: invert(100%);
}
.user:hover{ 
  filter: none;
}
.shop{
  filter: invert(100%);
}
.shop:hover{ 
  filter: none;
}

/*carrinho*/
body {
    font-family: var(--ff-oswald);
    margin: 0;
  }
  
.carrinho h1{
    text-align: center;
  margin-top: 20px;
  }
  
  #cart {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  #cart td, #cart th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  #cart th {
    background-color: #f2f2f2;
  }
  
  #total {
    font-weight: bold;
    text-align: right;
  }
  
  .button {
    background-color: var(--indian-yellow);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 1515px;
    
  }


  .button:hover{
    border: 1px solid black;
    cursor: pointer;
  }
  
  .product-img {
    max-width: 100px;
    max-height: 100px;
  }



/*Rodape*/
footer{
    padding: 50px 0;
    background: black;
}
.container-footer{
    max-width: 100%;
    padding: 0;
    margin: auto;
}
.row-footer{
    display: flex;
    flex: wrap;
}
.footer-col{
    padding: 2px 15px;
    width: 35%;
}
.footer-col h4{
    color: #fff;
    font-size: 22px;
    font-family: var(--ff-oswald);
    margin-bottom: 20px;
    font-weight: 800;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: var(--indian-yellow);
    padding-left: 10px;
}
.footer-col .rede-social{
    margin-top: 30px;
}
.footer-col .rede-social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: all 0.3s ease;
    margin: 0 6px;
}
.footer-col .rede-social a:hover{
    color: black;
    background-color: #fff;
}
.footer-col .form-insc input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    color: #FFF;
    border: 1px solid #fff;
}
.footer-col .form-insc button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #fff;
}
.direitos{
    padding: 5px 0;
  background: black;
  text-align: center;
  font-size: 13px;
}
.direitos a{
    text-decoration: none;
    color: #ECECEC;
}

.remove-button{
  border: none;
  background-color: rgb(185, 185, 185);
  border-radius: 50px;

padding: 10px 5px;
}


.remove-button:hover{
  cursor: pointer;
  border: 1px solid black;
}

/*----------------------*\
MEDIA QUERY
\*----------------------*/

/*responsivo para telas maiores que 575px*/

@media (min-width:575px) {
  :root {
      --fs-40: 6rem;
  }

.container,
.header-top{
  width: 100%;
  margin-inline: auto;
}
.btn{
  padding: 13px 40px;
}

.h2{
  --fs-30: 3.5rem;
}

/*HEADER*/
.header-top{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 600px;
  z-index: 4;
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
}

.header-top-item:first-child{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-top-item ion-icon {
  font-size: 18px;
  color: var(--indian-yellow);
  --ionicon-stroke-width: 50px;
}



.header-top-item .item-title{
  color: var(--eerie-black-1);
  font-weight: var(--fw-500);
  }   

.header-top-item .item-link {
  transition: var(--transition-1);
  }

.header-top-item .item-link:is(:hover, :focus) {
  color: var(--indian-yellow);
  }

.header-top-list {
  justify-content: space-between;
  }   

}

/*responsivo para telas maiores que 768px*/

@media(min-width: 768px) {
  :root{
      --fs-40: 8rem;
  }

  .header-top {
      max-width: 780px;
  }

  .service .grid-list {
      grid-template-columns: 1fr 1fr;
  }

  .service2 .grid-list2 {
      grid-template-columns: 1fr 1fr;
  }

}

/*responsivo para telas maiores que 992px*/

@media (min-width: 992px) {
  :root {
      --fs-40: 10rem;
      }

.nav-toggle-btn{
  display: none;
}

.header-top{
  max-width: 1020px;
}

.header-bottom {
  padding-block: 20px;
}

.navbar,
.navbar-list,
.navbar-item{
  all:unset;
}

.navbar-list,
.header .btn{
  display: flex;
}

.navbar-link{
  padding-inline: 125px;
}

.hero {
  --section-padding: 150px;
}

.hero-title,
.hero-text {
  max-width: 800px;
}

.service .grid-list {
  grid-template-columns: repeat(6, 1fr);
}

.service2 .grid-list2 {
  grid-template-columns: repeat(3, 1fr);
}
}
